<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<userSettings>
		<CleanAimTracker.Settings>
			<setting name="OverlayLeft" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="OverlayTop" serializeAs="String">
				<value>-1</value>
			</setting>
		</CleanAimTracker.Settings>
	</userSettings>
</configuration>
